<div class="h-full flex items-center justify-center p-10 sm:p-20">
  <app-card class="w-full md:w-1/2">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="grid grid-cols-12 gap-4"
    >
      <h3 class="col-span-full text-center text-2xl font-bold">Inscription</h3>
      @if(firebaseErrorMessage) {
      <p
        class="col-span-full flex flex-row items-center justify-center font-bold text-xl text-red-600"
      >
        {{ firebaseErrorMessage }}
      </p>
      }
      <div class="col-span-full flex flex-col gap-2">
        <label>Email:</label>
        <input
          type="email"
          formControlName="email"
          class="border rounded-md p-1 outline-1 outline-blue-500"
          placeholder="Adresse email"
          autocomplete="email"
          autofocus
          required
        />
        @if(submitted) { @if (form.controls['email'].errors?.['required']) {
        <p class="text-sm text-red-600">Adresse e-mail requise</p>
        } @if (form.controls['email'].errors?.['email']) {
        <p class="text-sm text-red-600">L'adresse e-mail doit être valide</p>
        } }
      </div>
      <div class="col-span-full flex flex-col gap-2">
        <label>Mot de passe:</label>
        <input
          type="password"
          formControlName="password"
          class="border rounded-md p-1 outline-1 outline-blue-500"
          placeholder="Mot de passe"
          autocomplete="password"
          required
        />
        @if(submitted) { @if (form.controls['password'].errors?.['required']) {
        <p class="text-sm text-red-600">Mot de passe requise</p>
        } @if (form.controls['password'].errors?.['minlength']) {
        <p class="text-sm text-red-600">
          Le mot de passe est trop court. Un minimum de
          {{form.controls['password'].errors?.['minlength'].requiredLength}}
          caractères est requis.
        </p>
        } @if (form.controls['password'].errors?.['maxlength']) {
        <p class="text-sm text-red-600">
          Le mot de passe est trop long. Un maximum de
          {{form.controls['password'].errors?.['maxlength'].requiredLength}}
          caractères est requis.
        </p>
        } }
      </div>
      <div class="col-span-full flex flex-col gap-2">
        <label>Confirmation du mot de passe:</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="border rounded-md p-1 outline-1 outline-blue-500"
          placeholder="Mot de passe"
          autocomplete="password"
          required
        />
        @if(submitted) {
        @if(form.controls['confirmPassword'].errors?.['required']) {
        <p class="text-sm text-red-600">Confirmation du mot de passe requise</p>
        } @if (form.controls['confirmPassword'].errors?.['matching']) {
        <p class="text-sm text-red-600">
          Les mots de passe ne correspondent pas
        </p>
        } }
      </div>
      <div class="col-span-full flex flex-row items-center justify-center">
        <button
          type="submit"
          class="w-full md:w-1/3 p-2 bg-blue-500 hover:bg-blue-600 text-white rounded-md disabled:bg-blue-400"
        >
          Inscription
        </button>
      </div>
      <div
        class="col-span-full flex flex-row items-center justify-center text-sm text-center"
      >
        <p>
          Vous n'avez déjà un compte ?
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="underline text-blue-600"
          >
            Connectez-vous
          </a>
        </p>
      </div>
    </form>
  </app-card>
</div>
