<div
  class="h-full flex flex-col gap-10 items-center justify-center p-10 sm:p-20"
>
  <app-card class="w-full md:w-1/2">
    <form
      [formGroup]="form"
      (ngSubmit)="addTask()"
      class="grid grid-cols-12 gap-2"
    >
      <h3 class="col-span-full text-center text-2xl font-bold">
        Nouvelle tâche
      </h3>
      <div class="col-span-full">
        <input
          type="text"
          formControlName="title"
          class="border rounded-md p-1 focus:outline-none focus:ring ring-teal-400 ring-opacity-50 focus:border-teal-500 w-full"
          placeholder="Titre"
          autofocus
        />
        @if (submitted && form.controls['title'].errors?.['required']) {
        <p class="text-sm text-red-600">Le titre de la tâche est obligatoire</p>
        }
      </div>
      <div class="col-span-full">
        <textarea
          formControlName="description"
          class="border rounded-md p-1 focus:outline-none focus:ring ring-teal-400 ring-opacity-50 focus:border-teal-500 w-full resize-none"
          rows="3"
          placeholder="Description"
        ></textarea>
      </div>
      <div class="flex gap-5  flex w-full relative col-span-full justify-end ">
        <button routerLink=""   type="button" class="col-span-full lg:col-span-2 py-2 px-4 rounded-md bg-red-500 hover:bg-red-700 text-white">
          Annuler
        </button>
        <button style="min-width: 115px;" type="submit" class="col-span-full lg:col-span-2 py-2 px-4 rounded-md bg-teal-500 hover:bg-teal-700 text-white">
          <i class="fa-solid fa-circle-plus fa-xl"></i> Ajouter
        </button>

      </div>

    
    </form>
  </app-card>
  
</div>
